[submodule "nodeMetricsToDb"]
	path = nodeMetricsToDb
	url = https://github.com/adhamahmad/nodeMetricsToDb.git
[submodule "metricsToDb"]
	path = metricsToDb
	url = https://github.com/adhamahmad/metricsToDb.git
[submodule "Kubernetes-Proactive-Autoscaler-Reasoner"]
	path = Kubernetes-Proactive-Autoscaler-Reasoner
	url = https://github.com/adhamahmad/Kubernetes-Proactive-Autoscaler-Reasoner.git
