[submodule "nodeMetricsToDb"]
	path = nodeMetricsToDb
	url = https://github.com/adhamahmad/nodeMetricsToDb.git
[submodule "metricsToDb"]
	path = metricsToDb
	url = https://github.com/adhamahmad/metricsToDb.git
[submodule "Kubernetes-Proactive-Autoscaler-Reasoner"]
	path = Kubernetes-Proactive-Autoscaler-Reasoner
	url = https://github.com/adhamahmad/Kubernetes-Proactive-Autoscaler-Reasoner.git
[submodule "node-predictor"]
	path = node-predictor
	url = https://github.com/adhamahmad/node-predictor.git
[submodule "pod-predictor"]
	path = pod-predictor
	url = https://github.com/adhamahmad/pod-predictor.git
[submodule "AKS_Node_API"]
	path = AKS_Node_API
	url = https://github.com/adhamahmad/AKS_Node_API.git
